<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>干部培训学院教师信息可视化统计系统</title>
    <script src="/static/dist/js/echarts.min.js"></script>
    <script src="/static/dist/js/jquery.min.js"></script>
    <script src="/static/dist/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/index.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/layui.css" media="all">
</head>
<body>
<!-- 顶部开始 -->
<div class="header">
    <div class="headerCol3">

    </div>
    <div class="headerCol3">

        <div class="headerConten">
            <div class="threeInfo">
                <a href="/courses/"><i class="layui-icon" style="font-size: 32px;">&#xe60a;</i></a>
            </div>
            <a href="/courses/">
                <div class="headerText">培训班管理</div>
            </a>
        </div>
        <div class="headerConten">
            <div class="threeInfo">
                <a href="/teachersManage/1/"><i class="layui-icon" style="font-size: 32px;">&#xe612;</i></a>
            </div>
            <a href="/teachersManage/1/">
                <div class="headerText">教师管理</div>
            </a>
        </div>
        <div class="headerConten">
            <div class="threeInfo">
                <a href="/teachersManage/1/"><i class="layui-icon" style="font-size: 32px;">&#xe705;</i></a>
            </div>
            <a href="/teachersManage/1/">
                <div class="headerText">课程管理</div>
            </a>
        </div>
    </div>
    <div class="headerCol3">
        <a href="/login/">
            <div class="headerLogin">退出</div>
        </a>
    </div>
</div>
<!-- 顶部结束 -->
</body>
</html>